  /**로그인창 모달**/


  .toprignt .login_modalwrap {
    display: none;
    width: 550px;
    height: 600px;
    position: absolute;
    top:50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    background:#eee;
    z-index: 9;
}
.modal_background {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(97, 96, 96, 0.5);
    top:0;
    left: 0;
    z-index: 1;
}
.modal_close {
    width: 20px;
    height: 20px;
    position: relative;
    bottom:10px;
    left: 1170px;
}
.modal_close .img{
    width: 50%;
    height: 20px;

}



    
     /* 사이트 연결 버튼 */
    .b1{
    position: relative;
    left:45px;
    text-align: center;
    background-color: #3578E5;
    height: 45px;
    width: 450px;
    color:#ffffff;
    border-radius: 3px;
    font-size: 20px; 
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    padding:0px 10px 5px 0px;
    top:100px;

    }
    .b2 {
    position:relative ;
    top:120px;
    left:45px;
    text-align: center;
    background-color: #fff;
    height: 45px;
    width: 450px;
    color:black;
    border-radius: 3px;
    font-size: 20px;
    text-decoration: none;
    padding:0px 8px 3px 0px;
    display:inline-block;
    transition: all 0.2s;
    border: 1px solid #e5e5e5

    }
    .b3{
    position: relative;
    left:45px;
    top:140px;
    text-align: center;
    background-color: black;
    height: 45px;
    width: 450px;
    color:white;
    border-radius: 3px;
    font-size: 20px;
    text-decoration: none;
    padding:0px 8px 3px 0px;
    display:inline-block;
    transition: all 0.2s;
    }
    .login_modalwrap .b4{
    position: relative;
    left:45px;
    top:170px;
    background-color: #ff5500;
    height: 40px;
    width: 460px;
    border: none;
    color:#ffffff;
    border-radius: 3px;
    font-size: 16px;
    line-height: 18px;
    list-style: none;
    
    }
    .b1 img{
    position:relative;
    top:10px;
    left: 8px;
    height: 77%;
     }
    .b2 img{
    position: relative;
    top:10px;
    left: 0px;
    height: 77%;
    }
    .b3 img{
    position: relative;
    top:11px;
    left: 4px;
    height: 77%;
  
   }


    .line{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    top:170px;
}
    .line::before,
    .line::after {
        content: "";
        flex-grow: 1;
        background: rgba(35, 35, 35, 0.4);
        height: 1px;
        font-size: 5px;
        line-height: 0px;
        margin-top: 12px;
        flex-basis: 100px;
        
      }
   .login_modalwrap .input1{
    position: relative;
    top:170px;
    right: 40px;
    width: 435px;
    height: 40px;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 20px;
    font-weight: 100;
    color: -internal-light-dark(black, white);
     margin : 20px 0px 15px 85px
    }
    .need{
    position: relative;
    top:170px;
    right: 20px;
    text-align: end;
    margin-left: 50px;
    font-size: 12px;
    line-height: 1.462;
    color: #044dd2;
    text-decoration: none;
    }
    .small-paragraph{
    position: relative;
    top:180px;
    font-size: 10px;
    color: #999;
    font-weight: 100;
    margin: 10px 40px 10px 40px;
    text-align: center;
     }
    /* 사이트 연결 버튼 */