 /**로그인창**/

 .toprignt .login{
    position: absolute;
    width: 520px;
    height: 800px;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.3s;
    background: #fff;
    left:370px;
    top: 150px;
    }
    .toprignt #loginbtn:checked ~ .login {
    transform: scaleY(1);
    }
    #loginbtn{
    position: relative;
    left: 500px;
    bottom: 20px;
    display: none;
    }
   .labelbtn1{
    position: relative;
    left: 20px;
    font-size: 15px;
    }
     /* 사이트 연결 버튼 */
    .b1{
    text-align: center;
    background-color: #3578E5;
    height: 35px;
    width: 350px;
    color:#ffffff;
    border-radius: 3px;
    font-size: 20px; 
    text-decoration: none;
    padding:0px 20px 5px 0px;
    display:block;
    transition: all 0.2s;

    }
    .b2 {
    text-align: center;
    background-color: #fff;
    height: 35px;
    width: 348px;
    color:black;
    border-radius: 3px;
    font-size: 20px;
    text-decoration: none;
    padding:0px 20px 5px 0px;
    display:inline-block;
    transition: all 0.2s;
    border: 1px solid #e5e5e5

    }
    .b3{
    text-align: center;
    background-color: black;
    height: 35px;
    width: 350px;
    color:white;
    border-radius: 3px;
    font-size: 20px;
    text-decoration: none;
    padding:0px 20px 5px 0px;
    display:inline-block;
    transition: all 0.2s;
    }
    .b4{
    margin-top: 30px;
    margin-left: 87px;
    background-color: #ff5500;
    height: 40px;
    width: 350px;
    border: none;
    color:#ffffff;
    border-radius: 3px;
    font-size: 16px;
    line-height: 18px;
    list-style: none;
    }
    .b1 img{
    position:relative;
    top:6px;
    left: 8px;
    height: 77%;
     }
    .b2 img{
    position: relative;
    top:7px;
    left: 0px;
    height: 77%;
    }
    .b3 img{
    position: relative;
    top:8px;
    left: 4px;
    height: 77%;
  
   }
   .login .a1 {
    margin-top: 50px;
    margin-left: 75px;
   }
   .login .a2{
    margin-top: 30px;
    margin-left: 75px;
}
    .login .a3{
    margin-top: 30px;
    margin-left: 75px;
}

    .line{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}
    .line::before,
    .line::after {
        content: "";
        flex-grow: 1;
        background: rgba(35, 35, 35, 0.4);
        height: 1px;
        font-size: 5px;
        line-height: 0px;
        margin-top: 12px;
        flex-basis: 100px;
        
      }
   .login .input1{
   
    width: 330px;
    height: 40px;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 20px;
    font-weight: 100;
    color: -internal-light-dark(black, white);
     margin : 20px 0px 15px 85px
    }
    .need{
    margin-top: 10px;
    text-align: end;
    margin-left: 50px;
    font-size: 12px;
    line-height: 1.462;
    color: #044dd2;
    text-decoration: none;
    }
    .small-paragraph{
    font-size: 10px;
    color: #999;
    font-weight: 100;
    margin: 10px 40px 10px 40px;
    text-align: center;
     }
    /* 사이트 연결 버튼 */